

.App {
  text-align: center;
  background-color: #282c34;
  max-height: 100vh;
  overflow: hidden;
  position: relative;

}

.container-fluid {
  min-height: 100vh;
  padding:0;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

input::placeholder {
  font-size: 15px;

}

input{
  font-size:20px;
  padding-left: 15px;
  padding-bottom:4px;
  border:none
}

input:focus {
  outline: 0
}

#header {
  padding-top:50px
}


#search{
  margin-top:15px
}
.clock{
  color:white;
  font-size: 80px;
}

#background {

  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 100px
}

.col{
  padding:0
}
.row{
  margin-left:0;
  margin-right:0
}

.overlay{
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;

}

.nav-item{
  color:white
}

.nav-link{
  background: none !important;
  border:none !important;
}

.nav-link:hover{
  cursor: pointer;
}